body {
	margin: 0px;
	padding: 0px;
	font-family: arial;
}

.wrapper-header {
	width: 930px;
	margin: 0 auto;
	position: relative;
}

.wrapper {
	width: 930px;
	margin: 0 auto;
}

/*buttons*/
.btn-orange {
	padding: 5px 10px;
	border-radius: 5px;
	background-color: #dd672f;
	text-decoration: none;
	color: #fff;
	font-size: 12px;
	-webkit-box-shadow: 0px 3px 6px 0px rgba(102,102,102,0.73);
	-moz-box-shadow: 0px 3px 6px 0px rgba(102,102,102,0.73);
	box-shadow: 0px 3px 6px 0px rgba(102,102,102,0.73);
}

.btn-orange:hover {
	opacity: 0.8;

}

/*header*/
	header {
		background-color:#009182;
		height: 140px;
		width: 100%;
		color: #fff;
	}
		.fav-login {
			position: absolute;
			right: 0;
			top: 10px;
		}

		.fav-login a{
			font-size: 12px;
			text-decoration: none;
			color: #fff;
			border-bottom: 1px solid #009182;
			-webkit-transition:border-bottom 0.5s ease;
		    -moz-transition:border-bottom 0.5s ease;
		    -ms-transition:border-bottom 0.5s ease;
		    -o-transition:border-bottom 0.5s ease;
		    transition:border-bottom 0.5s ease;

    	}

		.fav-login a:hover {
			border-bottom: 1px solid #fff;
		}

		.search {
			position: absolute;
			top: 40px;
		}

		.search .logo {
			float: left;
			margin: -13px 23px 0px 0px;
		}


		.search .input-zoek-product-merk[type="text"]  {
			padding-left: 9px;
			float: left;
			margin-top:1px;
			height: 45px;
			width: 270px;
			font-size: 15px;
			border: 0;
			position: relative;
		}

		.search .input-zoek-product-merk[placeholder]  {
			color:#51a79e;
		}

		.search .input-zoek-product-merk[type="text"]:focus  {
			outline: none;
		}

		::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    	color: #51a79e;
		}
		:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		   color:#51a79e;
		   opacity:  1;
		}
		::-moz-placeholder { /* Mozilla Firefox 19+ */
	    color:#51a79e;
		   opacity:  1;
		}
		:-ms-input-placeholder { /* Internet Explorer 10-11 */
		   color:#51a79e;
		}

		.vergrootglas {
			position: absolute;
			top: 16px;
			left: 409px;
		}



		.search ul {
			padding-left: 7px;
			float: left;
		}

		.search ul li {
			display: inline-block;
		}


		.search ul li a {
			text-decoration: none;
			color: #fff;
			padding: 15px 10px;
			background-color: #068174;
			transition: background-color 0.5s ease;	
		}

		.search ul li a:hover {
			background-color: #026f64;	
		}

		.search li .vind-winkel, .search li .maak-afspraak  {
			position: relative;
			padding-left: 40px;
		}




/*		.search li a.mandje  {
			position: relative;
			padding-left: 50px;
			z-index: 1;
			/*overflow: hidden;*/
		


		.search .mandje {
			position: relative;
			padding-left: 50px;
			overflow: hidden;
		}

		.count-mandje {
			/*position: absolute;
			bottom: 40px;
    		right: -20px;*/
			height: 40px;
			width: 40px;
			background-color:#dd672f;
			border-radius: 100%;
			text-align: center;
		}


		.icon-winkel {
			position: absolute;
			top: 13px;
    		left: 13px;
		}

		nav {
			position: absolute;
			top: 97px;
			left: 0px;
		}

		nav ul {
			padding-left: 0px;
		}

		nav ul li{
			display: inline-block;
		}

		nav ul li a {
			font-size: 14px;
			color: #fff;
			text-decoration: none;
			padding: 10px;
			transition: background-color 0.7s ease;
		}

		nav ul li a:hover {
			background-color: #fff;
			color:#009182;
		}

		nav ul li a#active {
			background-color: #fff;
			color:#009182;
		}


/*sticky-navigation*/	

	.sticky-header {
		display: none;
		position: fixed;
		height: 50px;
		width: 100%;
		background-color: #009182;
		color: #fff;
		clear: both;
	}

	.sticky-header ul {
		padding-left: 7px;
		float: right;
	}

	.sticky-header ul li {
		display: inline-block;
	}


	.sticky-header ul li a {
		text-decoration: none;
		color: #fff;
		padding: 10px 10px;
		background-color: #068174;
		transition: background-color 0.5s ease;	
	}

	.sticky-header ul li a:hover {
		background-color: #026f64;	
	}

	.sticky-header li .vind-winkel, .sticky-header li .maak-afspraak, .sticky-header li .mandje-sticky   {
		position: relative;
		padding-left: 40px;
	}

	.icon-winkel-sticky {
		position: absolute;
		top: 9px;
    	left: 13px;
	}

	.icon-winkel-sticky2 {
		position: absolute;
		top: 8px;
    	left: 8px;
	}

	.sticky-header img, .sticky-header input {
		float: left;
	} 

	.visible {
		display: block;
	}



/*dropdown-winkelmandje*/

	.winkelmandje-dropdown {
		height: 400px;
		width: 350px;
		padding:10px;
		color: #999;
		background-color: #fff;
		float: left;
    	margin-top: 89px;
    	display: none;
    	position: absolute;
    	right: 0;
    	z-index: 999;
    	-webkit-box-shadow: 0px 3px 6px 0px rgba(102,102,102,0.73);
		-moz-box-shadow: 0px 3px 6px 0px rgba(102,102,102,0.73);
		box-shadow: 0px 3px 6px 0px rgba(102,102,102,0.73);
	}

	.mandje-sticky {
		clear: both;
	}

	.winkelmandje-dropdown-sticky {
		height: 400px;
		width: 350px;
		background-color: #666;
    	display: none;
    	position: fixed;
    	margin: 43px 0px 0px 631px;
    	z-index: 9999;
	}

/*dropdown-links*/

	.dropdown-links {
		width:100%;
		height: 280px;
		background-color:#fff;
		font-size: 15px;
		-webkit-box-shadow: 0px 3px 6px 0px rgba(102,102,102,0.73);
		-moz-box-shadow: 0px 3px 6px 0px rgba(102,102,102,0.73);
		box-shadow: 0px 3px 6px 0px rgba(102,102,102,0.73);
		position: absolute;
		z-index: 9998;
		display:none;
		
	}

	.dropdown-links ul {
		margin-top: 45px;
		float: left;
		text-decoration: none;
	}

	.dropdown-links ul li {
		list-style-type: none;
		margin-bottom: 20px;
	}

	.dropdown-links ul li a{
		text-decoration: none;
		color:#1f4340;
		transition: color, ease 0.5s;

	}

	.dropdown-links ul li a:hover{
		color:#068174;
	}

	.dropdown-add {
		text-align: center;
		background-color: #f3f9f9;
	    margin: 15px 0;
	    height: 250px;
	    width: 300px;
	    float: right;
	}

	.dropdown-add p {
		margin-top: 125px;
	}				




